* {box-sizing: border-box;
}

body {height: 100%;
}

h2 {font-family: "Pixelify sans", sans-serif;
    font-size: largue;
    position: absolute;
    top: 5%;
    left: 5%;
}

img {width: 20rem;
height: 20rem;
position: absolute;
bottom: 20%;
left: 2%;
}

.box1 {position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {font-family: "Outfit", sans-serif;
font-weight: 600;
font-size: xx-large;
position:absolute;
bottom: 80%;
}

p {font-family: "Outfit", sans-serif;
font-weight: 400;
}

button {font-family: "Outfit", sans-serif;
    font-weight: 600;
    font-size: medium;
    width: 100%;
    padding: 10px 2px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    color:black;
    position: absolute;
    top: 130%;
    }

    button:hover {background-color: #D7D6D6;
        transition: transform 0.5s ease;
    } 
    
    button:active {background-color: #8D8D92;
        transition: transform 0.5s ease;
    }
    
    .button {display: flex; 
    justify-content: center;
    }

    .button a {text-decoration: none;
        color: black;
    }
    